body
{
    background-color: rgb(167, 212, 212);
}


.container
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 p
{
    font-size: 50px;
    font-weight: 900;
    color: rgb(53, 176, 180);
    margin-bottom: 0px;
}

input
{
    width: 200px;
    height: 30px;
    margin: 20px;
    border:2px solid rgb(53, 176, 180);
    text-align: center;
}


button{
    cursor: pointer;
    margin-top:20px;
    width:150px;
    height: 40px;
    border: 2px solid rgb(31, 119, 122) ;
    background-color: rgb(74, 178, 182);
}

button:hover{
    box-shadow: 0px 5px 5px grey;
}